/* Menu icon styles */

.menu-icon-wrapper {
	position: relative;
	display: inline-block;
    width: 128px;
    height: 128px;
	margin: 3px;
	pointer-events: none;
	transition: 0.1s;
}

.menu-icon-wrapper.scaled {
	-webkit-transform: scale(0.5);
	-ms-transform: scale(0.5);
	-o-transform: scale(0.5);
	-moz-transform: scale(0.5);
	transform: scale(0.5);
}

.menu-icon-wrapper svg {
	position: absolute;
	top: -132px;
	left: -132px;
	-webkit-transform: scale(0.4);
	-ms-transform: scale(0.4);
	-o-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;
}

.menu-icon-wrapper svg path {
	stroke: #ff0000;
	stroke-width: 60px;
	stroke-linecap: round;
    stroke-linejoin: round;
	fill: transparent;
}

.menu-icon-wrapper .menu-icon-trigger {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: pointer;
	pointer-events: auto;
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

.menu-icon-wrapper .menu-icon-trigger:hover,
.menu-icon-wrapper .menu-icon-trigger:focus {
	outline: none;
}

.dummy__item {
 	height: 2em; 
	margin: 5px 1px;
/* 	pointer-events: none; */
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.4);
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
}

.dummy__item {
	-webkit-transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
	transform: translate3d(-100%, 0, 0) translate3d(-2em, 0, 0) scale3d(0.5, 1, 1);
	-webkit-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.dummy--active .dummy__item {
	-webkit-transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
	transition-timing-function: cubic-bezier(0.56, 1.19, 0.2, 1.05);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.dummy__item:nth-child(4),
.dummy--active .dummy__item:first-child {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

.dummy__item:nth-child(3),
.dummy--active .dummy__item:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.dummy__item:nth-child(2),
.dummy--active .dummy__item:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.dummy__item:first-child,
.dummy--active .dummy__item:nth-child(4) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

#controlDiv {
 	position: fixed; 
 	z-index : 99; 
 	font-family: 'Noto Sans TC';
 	color: #FFF;
}


@media screen and (min-device-width: 320px) and (max-device-width: 736px) {
	.menu-icon-wrapper {
	    width: 64px;
	    height: 64px;
	}
	.menu-icon-wrapper svg {
		top: -66px;
		left: -66px;
		-webkit-transform: scale(0.2);
		-ms-transform: scale(0.2);
		transform: scale(0.2);
	}
	#controlDiv {
	  	font-size : 24px;
	  	width:150px;
	}
}

@media screen and (min-device-width: 736px) {
	.menu-icon-wrapper {
	    width: 96px;
	    height: 96px;
	}
	.menu-icon-wrapper svg {
		top: -99px;
		left: -99px;
		-webkit-transform: scale(0.3);
		-ms-transform: scale(0.3);
		transform: scale(0.3);
	}
	#controlDiv {
	  	width:200px; 
	  	font-size : 24px;
	}
	
}